@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.title {
    font-family: 'Abril Fatface', cursive;
    background-color: #e7e5d9;
    display: inline-block;
    text-shadow: 1px 1px 0 grey;
}

.masthead {
    background: transparent url("../images/masthead-bg.png");
    text-align: center;
}

body {
    background-color: #e7e5d9;
}

.img-flex {
	display: block;
	width: 100%;
}

.masthead {
	background: transparent url("../images/masthead-bg.png");
	text-align: center;
}

.logo {
	margin: 0 0.2em 0 0;
	width: 1em;
	vertical-align: middle;
}

.panel {
	border-image: url("../images/panel-border.png") 36 36 36 36 stretch stretch;
	border-width: 36px 36px 36px 36px;
}

p {
    color: white;
    padding: 0;
    margin: 0;
}

li {
    color: white;
    padding: 0;
    margin: 0;
}

.reward {
    text-align: center;
    padding-top: 5rem;
}

.number {
    text-align: center;
}

.backgroundgraphic {
    background-image: url("../images/middle-graphic.png");
    background-size: 100%;
    background-repeat: no-repeat;
}